@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Questrial&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 5px;
  border: 1px solid  #82E0AA;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
  font-size: 17px;
  background-color:#BDC3C7; 
  padding: 10px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}
.home-nav li{
  background-color:#BDC3C7; 
  padding: 10px;
  border-top-right-radius: 25px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.avatar {
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}
.small-avatar{
  border-radius: 50%;
  height: 20px;
}
.leader-board{
  width: 50%;
  margin: 0 auto;
  box-shadow: 1px 4px 15px #2980B9;
  padding: 15px;
  margin-bottom: 20px;
  
}
.leader-board h4, .head{
  background-color: #BDC3C7;
  padding: 10px 20px;
}

.flex-display{
  display: flex;
  justify-content: space-evenly;
}
.q-and-a{
  border-right: 2px solid rgb(131, 130, 224);
  border-left: 2px solid #82E0AA;
  padding: 10px;
}
.bord-left{
  border-left: 2px solid #82E0AA;
  padding-left: 10px;
}
.bord-top{
  border-top: 2px solid #34495E;
  padding-top: 10px;
}
.score, .rank{
  text-align: center;
  height: 30px;
  margin: 0 auto;
  width: 40px;
  border-radius: 50%;
  padding-top: 10px;
}
.score{
  background-color: #3498DB ;
}
.rank{
  background-color: rgb(4, 75, 42);
  color: #fff;
}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-score {
	background: linear-gradient(to right, #ABEBC6 , #186A3B );
	box-shadow: 0 3px 3px -5px #58D68D , 0 2px 5px #58D68D ;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.input-field{
  width: 100%;
  font-size: 30px;
  margin-bottom: -100px;
}
.top-margin{
  margin-top: 20px;
}